.navheader {
  header {
    max-width: 1440px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

// custom form

.custom_form {
  .custom-input {
    border-radius: 8px !important;
    padding: 8px 12px !important;
    background-color: #fff !important;
    border: 1px solid #eceff3 !important;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }
}
